.git
.github
.next
.turbo
**/.next
**/.turbo
**/node_modules
node_modules
.env*
**/.env*
!.env.example
.qubere
coverage
test-results
playwright-report
blob-report
scratch
project_sources
npm-debug.log*
*.tsbuildinfo
